/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    font-family: 'Bruno Ace SC', cursive;
    font-weight: 400;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.font-s16{
    font-size: 16px;
    line-height: 24px;
}

.font-sm20{
    font-size: 20px;
    line-height: 30px;
}

.font-m24{
    font-size: 24px;
    line-height: 36px;
}

.font-title64{
    font-size: 64px;
    line-height: 96px;
}

.colorW{
    color: white;
}

.colorB{
    color: black;
}

.top-frame{
    background: #000;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-list-area{
    display: flex;
}

.top-list{
    margin-top: 40px;
    width: 306px;
    margin-right: 61px;
    color: white;
    :hover{
        color: gray
    }
}

.lean-right{
    width: 196px;
    text-align: right;
    margin-right: 0px;
}


.contact{
    background: #000;
    height: 992px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-block{
    width: 636px;
    height: 528px;
}


.contact-name{
    color: #00FFA3;
    font-size: 128px;
    line-height: 192px;
    text-align: right;
}

.margin12{
    margin: 0 12px 0 12px;
}

.margin76{
    margin: 0 76px 0 76px;
}

.btn{
    width: 185px;
    height: 48px;
    background: white;
    color: #000;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.btn:hover {
    background: gray;
}

.introduction{
    height:920px;
    background-image:url("https://github.com/InFannity/HexSchool-Week2/blob/main/image/background-img.png?raw=true");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-left{
    width: 526px;
    height: 442px
}

.introduction-title{
    color:white;
    font-size: 64px;
    line-height: 96px;
}

.introduction-content{
    color:white;
    font-size: 24px;
    line-height: 36px;
    margin-top: 36px;
}

.introduction-logo{
    margin-top: 32px;
    padding: 0px;
}

.introduction-logo img{
    margin-right: 16px;
}

.section-right{
    width: 746px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.about{
    height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 636px;
    height: 328px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.card-style{
    width: 306px;
    height: 148px;
    padding: 16px;
    border: 1px solid #E3E3E3;
    box-shadow: 4px 4px 4px 0px #00000014;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.about-me{
    width: 526px;
    height: 420px
}

.about-me-content{
    font-size: 24px;
    line-height: 36px;
    margin-top: 36px;
}

.contact-me{
    height: 354px;
    background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-me-block{
    width: 657px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 113px
}

.contact-me-title{
    color:white;
}

.social-block{
    width: 526px;
    height: 162px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-block img{
    border-radius: 40px;
    box-shadow: 4px 4px 8px 0px #00000014;
    &:hover{
        box-shadow: 0px 0px 16px 3px #9094FFE5;
    }
}

.project{
    height: 962px;
    flex-direction: column;
}

.footer{
    background: #000;
    height:104px;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-title{
    width: 746px;
    height: 96px;
    margin-left: 550px;
    margin-bottom: 16px;
}

.project-frame{
    width: 1296px;
    height: 530px;
    display: flex;
    justify-content: space-between;
}

.project-sectionRT{
    width: 856px;
    height: 196px;
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
}

.project-sectionRT-content{
    width: 636px;
    height: 196px
}

.btnB{
    width: 185px;
    height: 48px;
    background: black;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-top:76px; 
}

.btnB:hover {
    background: gray;
}

.project-sectionRB{
    display: flex;
    justify-content: space-between;
    width: 856px;
    height: 306px
}